<main class='login horizontal-centered'>
  <div class='login__container'>
    <h2 class='login__title'>Вход</h2>

    <div class='login__input-wrapper'>
      <div class='login__input'>
        {{> Input label='Логин' type='text' value='ivanivanov' name='login'}}
      </div>

      <div class='login__input'>
        {{> Input label='Пароль' type='password' value='123123' name='password'}}
      </div>
    </div>

    <div class='login__btn-wrapper'>
      <div class='login__btn'>
        {{> Button caption='Вход' page='chatPage'}}
      </div>
      <div class='login__btn'>
        {{> ButtonString caption='Нет аккаунта?' page='signInPage'}}
      </div>
    </div>

  </div>
</main>