<main class='page500 horizontal-centered'>
  <div class='page500__wrapper'>
    <h1 class='page500__title'>500</h1>
    <p class='page500__text'>Мы уже фиксим</p>
    <div class='page500__btn'>
      {{> ButtonString caption='Назад к чатам' page='chatPage'}}
    </div>
  </div>
</main>
