<main class='chat'>
  {{#> Popup caption='Добавить пользователя' btnCaption='Добавить' page='chatPage'}}
    {{> Input label='Логин' type='text' value='ivanivanov'}}
  {{/Popup}}
  {{> ChatList}}
  {{> Dialog}}
</main>