<div class='dialog-header'>
  <div class='dialog-header__info'>
    <div class='dialog-header__avatar'></div>
    <p class='dialog-header__name text-style text-style_type_bold'>Вадим</p>
  </div>
  <button class='dialog-header__context-btn cancel-btn-styles'>
    <img
      class='dialog-header__btn-img'
      src={{contextMenuIcon}}
      alt='Контекстное меню'
    />
    {{> PopupDialogHeader}}
  </button>
</div>