<main class='page404 horizontal-centered'>
  <div class='page404__wrapper'>
    <h1 class='page404__title'>404</h1>
    <p class='page404__text'>Не туда попали</p>
    <div class='page404__btn'>
      {{> ButtonString caption='Назад к чатам' page='chatPage'}}
    </div>
  </div>
</main>
