<div class='popup'>
  <div class='popup__window horizon-centered-content'>
    <h2 class='popup__title'>{{caption}}</h2>
    <div class='popup__content'>
      {{> @partial-block }}
    </div>
    {{> Button caption=btnCaption page=page}}
  </div>
</div>