<main class='change-password horizontal-centered'>
  <div class='change-password__wrapper user-entitys-wrapper'>
    {{> SideButton page='chatPage'}}
    {{> UserAvatar}}
    {{#> Form}}
      <ul class='change-password__list list'>
        <li class='change-password__list-item list-item'>
            <p class='change-password__text text-style'>Старый пароль</p>
            {{> InputNoBorder inputName='oldPassword' type='password' value='1231231'}}
          </li>
        <li class='change-password__list-item list-item'>
            <p class='change-password__text text-style'>Новый пароль</p>
            {{> InputNoBorder inputName='newPassword' type='password' value='123123'}}
          </li>
        <li class='change-password__list-item list-item'>
            <p class='change-password__text text-style'>Повторите новый пароль</p>
            {{> InputNoBorder inputName='newPassword' type='password' value='12312'}}
          </li>
      </ul>
    {{/Form}}
    {{> Button caption='Сохранить' page='chatPage'}}
  </div>
</main>
