<main class='change-user-data horizontal-centered'>
  <div class='change-user-data__wrapper user-entitys-wrapper'>
    {{> SideButton page='chatPage'}}
    {{> UserAvatar}}
    {{> UserInfoChange}}
    {{> Button caption='Сохранить' page='chatPage'}}
  </div>
</main>