.dialog-sender {
  display: flex;
  margin: 0 20px;
  padding: 10px 0;
  border-top: solid 1px #eaeaea;
}

.dialog-sender__input-wrapper {
  display: flex;
  flex-grow: 1;
}

.dialog-sender__pin-btn {
  position: relative;
}
