<div class='dialog-sender'>
  <button class='dialog-sender__pin-btn cancel-btn-styles'>
    {{> PopupDialogSender}}
    <img class='dialog-sender__pin-img' src={{pinIcon}} alt='Прикрепить' />
  </button>
  <div class="dialog-sender__input-wrapper">
    {{#> Form}}
      <input
        name='message'
        class='dialog-sender__input text-style text-style_color_gray'
        type='text'
        placeholder='Сообщение'
      />
    {{/Form}}
  </div>
  <button class='dialog-sender__send-btn cancel-btn-styles'>
    <img class='dialog-sender__send-img' src={{sendIcon}} alt='Отправить' />
  </button>
</div>