.dialog-sender {
  display: flex;
  margin: 0 20px;
  padding: 10px 0;
  border-top: solid 1px #eaeaea;
}
.dialog-sender__input-wrapper {
  flex-grow: 1;
}
.dialog-sender__input {
  width: calc(100% - 60px);
  height: 100%;
  border-radius: 20px;
  padding: 0 20px;
  margin: 0 10px;
  background-color: #efefef;
}
.dialog-sender__pin-btn {
  position: relative;
}
