.dialog {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.dialog__empty-cation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
