<div class='chat-list-header'>
  <button class='chat-list-header__profile-btn cancel-btn-styles'>
    <p
      page='profilePage'
      class='chat-list-header__text text-style text-style_color_gray'
    >Профиль</p>
    <img
      src={{arrowIcon}}
      alt='Профиль'
      class='chat-list-header__img'
      page='profilePage'
    />
  </button>
  {{#> Form}}
    <input class='chat-list-header__input text-style text-style_color_gray' type='text' placeholder='Поиск'/>
  {{/Form}}
    <img
      src={{magnifierIcon}}
      alt='Поиск'
      class='chat-list-header__placeholder-icon'
    />
  </div>
</div>