.chat-list-header {
  padding: 20px 0 15px;
  border-bottom: solid 1px #eaeaea;
  position: relative;
}

.chat-list-header__buttons {
  display: flex;
  margin: 0 10px;
}

.chat-list-header__form {
  margin: 0 10px;
}

.chat-list-header__placeholder-icon {
  padding-right: 4px;
  bottom: 23px;
  left: 6px;
  position: absolute;
}
