<div class='popup-dialog-header popup-dialog-header_hidden'>
  <div class='popup-item btn-styles' page='newUserPage'>
    <img
      class='popup-dialog-header_img popup-item__img'
      src={{addIcon}}
      alt='Добавить пользователя'
      page='newUserPage'
    />
    <p class='popup-item__text text-style' page='newUserPage'>Добавить
      пользователя</p>
  </div>
  <div class='popup-item btn-styles' page='page404'>
    <img
      class='popup-dialog-header_img popup-item__img'
      src={{deleteIcon}}
      alt='Удалить пользователя'
      page='page404'
    />
    <p class='popup-item__text text-style' page='page404'>Удалить пользователя</p>
  </div>
</div>